@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  font-family: "Hind Guntur", sans-serif;
}

a:hover {
  color: #ea2c5a;
}

.color-active {
  color: #ea2c5a;
}

.btn-cv1 {
  @apply bg-red-500 text-white px-6 py-2 rounded hover:bg-white hover:text-red-500 border border-red-500 font-medium;
}
